{% ckan_extends %}

{% block content_primary_nav %}

    {{ h.build_nav_icon('record', _('Normal view'), package_name=pkg.name, resource_id=res.id, record_id=rec._id) }}
    {{ h.build_nav_icon('dwc', _('Darwin Core view'), package_name=pkg.name, resource_id=res.id, record_id=rec._id) }}

    {% if c.record_dict['_gbif_id'] %}
        {{ h.build_nav_icon('gbif', _('GBIF view'), package_name=pkg.name, resource_id=res.id, record_id=rec._id) }}
    {% endif %}

{% endblock %}

{% block heading %}

    <h1 class="page-heading">{{ c.record_title }}</h1>

{% endblock %}