{% extends "record/specimen.html" %}

{% block heading %}

     <h1 class="page-heading">GBIF interpreted record</h1>

{% endblock %}

{% block record_data %}

    <table id="record-view">

          <col width="300">
          <col>

        {# Identification #}

        {% set classification = h.gbif_get_classification(gbif_record) %}

        {% set errors = h.dqi_parse_errors(gbif_record['issue']) %}

        {% if classification or gbif_record['specieskey'] or gbif_record['identifiedby'] %}

            <thead>
                <tr>
                    <th>Identification details</th>
                    <th><small>According to <a href="http://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c" target="_blank" rel="nofollow">GBIF Backbone Taxonomy</a></small></th>
                </tr>
            </thead>
            <tbody>

                {% if gbif_record['specieskey'] %}

                    <tr>
                        <td><strong>Identified as species</strong></td>
                        <td>
                            <a href="http://www.gbif.org/species/{{ gbif_record['specieskey'] }}" target="_blank" rel="nofollow">{{ gbif_record['gbifScientificName'] }}</a>
                        </td>
                    </tr>

                {% endif %}

                {% if classification %}

                    <tr>
                        <td><strong>Taxonomic classification</strong></td>
                        <td>
                            {{ classification }}
                        </td>
                    </tr>

                {% endif %}

                {% if gbif_record['identifiedby'] %}

                    <tr>
                        <td><strong>Identified</strong></td>
                        <td>
                            {{ gbif_record['identifiedby'] }}
                        </td>
                    </tr>

                {% endif %}

            </tbody>

        {% endif %}

        {# Occurrence details #}

        {% if gbif_record['recordedby'] or gbif_record['eventdate'] or gbif_record['recordnumber'] %}

            <thead>
                <tr>
                    <th colspan="2">Occurrence details</th>
                </tr>
            </thead>
            <tbody>

                {% if gbif_record['recordedby'] %}

                    <tr>
                        <td><strong>Recorded by</strong></td>
                        <td>{{ gbif_record['recordedby'] }}</td>
                    </tr>

                {% endif %}

                {% if gbif_record['eventdate'] %}

                    <tr>
                        <td><strong>Date recorded</strong></td>
                        <td>{{ gbif_record['eventdate'] }}</td>
                    </tr>

                {% endif %}


                {% if gbif_record['recordnumber'] %}

                    <tr>
                        <td><strong>Record number</strong></td>
                        <td>{{ gbif_record['recordnumber'] }}</td>
                    </tr>

                {% endif %}

            </tbody>

        {% endif %}

        {# Location #}

        {% set geography = h.gbif_get_geography(gbif_record) %}

        {% if geography or gbif_record['habitat'] or gbif_record['countrycode'] or gbif_record['islandgroup'] or (gbif_record['decimallongitude'] and gbif_record['decimallatitude']) %}

            <thead>
                <tr>
                    <th colspan="2">Location</th>
                </tr>
            </thead>
            <tbody>

                {% if gbif_record['countrycode'] %}

                    <tr>
                        <td><strong>Country</strong></td>
                        <td><a href="http://www.gbif.org/country/{{ gbif_record['countrycode'] }}" target="_blank" rel="nofollow">{{ gbif_record['country'] or gbif_record['countrycode'] }}</a></td>
                    </tr>

                {% endif %}

                {% if gbif_record['decimallongitude'] and gbif_record['decimallatitude'] %}

                    <tr>
                        <td><strong>Coordinates</strong></td>
                        <td><a href="http://www.gbif.org/gbif_record/{{ gbif_record['id'] }}#map" target="_blank" rel="nofollow">{{ gbif_record['decimallongitude'] }}, {{ gbif_record['decimallatitude'] }}</a></td>
                    </tr>

                {% endif %}

                {% if geography %}

                    <tr>
                        <td><strong>Geographic classification</strong></td>
                        <td>
                            {{ geography }}
                        </td>
                    </tr>

                {% endif %}

                {% if gbif_record['islandgroup'] %}

                    <tr>
                        <td><strong>Islands</strong></td>
                        <td>{{ gbif_record['islandgroup'] }}</td>
                    </tr>

                {% endif %}

                {% if gbif_record['habitat'] %}

                    <tr>
                        <td><strong>Habitat</strong></td>
                        <td>{{ gbif_record['habitat'] }}</td>
                    </tr>

                {% endif %}

            </tbody>

        {% endif %}

        {% if errors %}

            <thead>
                <tr>
                    <th colspan="2">Data Quality Issues</th>
                </tr>
            </thead>
            <tbody>

                {% for error in errors %}

                    <tr>
                        <td><strong>{{ error['title'] }}</strong></td>
                        <td>{{ error['description'] }}</td>
                    </tr>

                {% endfor %}

            </tbody>

        {% endif %}

        {# Publication details #}

        <thead>
            <tr>
                <th colspan="2">GBIF Publication details</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><strong>Last interpreted</strong></td>
                <td>{{ h.gbif_render_datetime(gbif_record['lastinterpreted']) }}</td>
            </tr>

            <tr>
                <td><strong>Occurrence</strong></td>
                <td><a href="http://www.gbif.org/occurrence/{{ gbif_record['id'] }}" target="_blank" rel="nofollow">{{ gbif_record['id'] }}</a></td>
            </tr>

            <tr>
                <td><strong>Dataset</strong></td>
                <td><a href="http://www.gbif.org/dataset/{{ dataset_key }}" target="_blank" rel="nofollow">Dataset</a></td>
            </tr>

            <tr>
                <td><strong>Publisher</strong></td>
                <td><a href="http://www.gbif.org/publisher/{{ organisation_key }}" target="_blank" rel="nofollow">Natural History Museum</a></td>
            </tr>

        </tbody>

    </table>

    {% resource 'ckanext-gbif/record' %}

{% endblock %}