{% ckan_extends %}

{% block content_primary_nav %}

    {{ super() }}

    {% if c.record_dict['gbifID'] %}
        {{ h.build_gbif_nav_item(g.pkg.name, res.id, rec._id, g.version) }}
    {% endif %}

{% endblock %}

{% block heading %}

    <div class="row">

        <div class="col-md-8">
            <h1 class="page-heading">{{ c.record_title }}</h1>
        </div>

        <div class="col-md-4">
            {% snippet "record/snippets/gbif-errors.html", errors=c.record_dict.get('gbifIssue', None), gbif_id=c.record_dict.get('gbifID', None) %}
        </div>

    </div>

{% endblock %}
