{% ckan_extends %}

{% block content_primary_nav %}

    {{ super() }}

    {% if c.record_dict['_gbif_id'] %}
        {{ h.build_nav_icon('gbif', _('GBIF view'), package_name=pkg.name, resource_id=res.id, record_id=rec._id) }}
    {% endif %}

{% endblock %}

{% block heading %}

    <div class="row">

        <div class="span8">
            <h1 class="page-heading">{{ c.record_title }}</h1>
        </div>

        <div class="span4">
            {% snippet "record/snippets/gbif-dqi.html", dqi=c.record_dict['dqi'], gbif_id=c.record_dict['_gbif_id'] %}
        </div>

    </div>

{% endblock %}